Header{
  width: 100%;
  margin: auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #fff159;
}

.container-header{
  width: 100%;
  max-width: 1144px;
  margin: auto;
  display: flex;
  gap: 16px;
}

.store-icon{
  min-width: 44px;
  min-height: 44px;
  color: #333;
}

