.cart-item{
  position: relative;
  display: flex;
  align-items: start;
  border-bottom: solid 1px #ddd;
  padding: 8px;
}

.cart-item img{
  width: 70%;
}

.cart-item-content{
  padding: 16px 24px;;
}

.cart-item-content h2{
  font-size: 18px;
  font-weight: 400;
}

.cart-item-content h3{
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}

.btn-cart-item-remove{
  position: absolute;
  top: 8px;
  right: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  padding: 2px;
  border: solid 2px #d83232;
  border-radius: 40px;
  background: none;
  color: #d83232;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cart-item-remove:hover{
  background: #d84444;
  color: #ddd;
}